.NavigationItem {
    margin: 0;
    box-sizing: border-box;
    align-items: center;    
    display: flex;
}

.NavigationItem a {
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
    background-color: #8F5C2C;
    border-bottom: 4px solid #40A4C8;
    color: white;
}

@media (max-width: 500px){
    .NavigationItem {
        margin: 0;
        box-sizing: border-box;
        align-items: center;            
        background-color: white;
    }

    .NavigationItem a {
        color: #8F5C2C;
        text-decoration: none;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
        box-sizing: border-box;
        display: block;
    }

    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active{        
        background-color: white;
        border-bottom: 4px solid #40A4C8;
        color: #40A4C8;
    }   
}

@media (min-width: 501px){
    .NavigationItem {
        height: 100%;
    }
}